* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #8a2be2;
	color: #1f1f1f;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: #1f1f1f;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* heaader start */
.site-header {
	padding-top: 24px;
	padding-bottom: 20px;
}

.site-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__logo {
	display: flex;
	transition: all 1.2s ease;
}

.site-header__logo:hover {
	opacity: 0.6;
	transform: scale(1.1);
}

.site-header__list {
	display: flex;
}

.site-header__item:not(:last-child) {
	margin-right: 26px;
}

.site-header__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: 0%;
	color: #1f1f1f;
	transition: all 0.8s ease;
}

.site-header__link:hover {
	color: #dc2929;
}

.site-header__link:active {
	opacity: 0.4;
}
/* heaader end */

/*hero start */
.hero {
	padding-top: 100px;
	padding-bottom: 124px;
}

.hero__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 1.25;
	letter-spacing: 0.2px;
	color: #1f1f1f;
	max-width: 935px;
	width: 100%;
	margin-bottom: 24px;
}

.hero__info {
	display: flex;
	justify-content: space-between;
}

.hero__circle {
	height: 32px;
	width: 32px;
	background-color: #c4c4c4;
	border-radius: 50%;
}

.hero__text-wrapper {
	max-width: 736px;
	display: flex;
}

.hero__text:not(:last-child) {
	margin-right: 41px;
}

/* hero end*/

/* recent-work start */
.recent-work {
	padding-top: 101px;
	padding-bottom: 101px;
}

.recent-work__title {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 52px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: #1f1f1f;
	margin-bottom: 43px;
}

.recent-work__list-wrapper {
	display: flex;
	justify-content: space-between;
}

.recent-work__list-left {
	margin-bottom: 64px;
}

.recent-work__item-left:not(:last-child) {
	margin-bottom: 64px;
}
.recent-work__left-img {
	margin-bottom: 21px;
}
.recent-work__left-info {
	border-top: 2px solid #1f1f1f;
}

.recent-work__item-right:not(:last-child) {
	margin-bottom: 64px;
}

.btn {
	background-color: #1f1f1f;
	border: none;
	color: #fff;
	padding: 9px 32px;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	text-align: center;
	cursor: pointer;
	transition: all 0.8s ease;
	 
}

/* recent-work end */
/* clients start */
.clients {
	background-color: #f7f6f3;
	padding-top: 80px;
	padding-bottom: 80px;
}

.clients__title {
	font-weight: 400;
	font-size: 38px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	text-align: center;
	margin-bottom: 12px;
}
.clients__line {
	background-color: #6d6b67;
	height: 1px;
}

.clients__images-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 63px;
	padding-top: 24px;
	padding-bottom: 24px;
}

/* clients end */
/* ready start */
.ready {
	background-color: #e0f391;
	padding-top: 48px;
	padding-bottom: 40px;
}

.ready__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ready__line {
	margin-bottom: 23px;
}

.ready__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.4;
	letter-spacing: 0.2px;
}

/* ready end */
/* footer start */
.anologue-footer {
	background-color: #1f1f1f;
}

.anologue-footer__img {
	padding-top: 81px;
	padding-left: 40px;
	margin-bottom: 63px;
}

.anologue-footer__title {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 0.2px;
	margin-left: 40px;
	color: #fff;
	margin-bottom: 52px;
}

.anologue-footer__line {
	height: 1px;
	width: 401px;
	background-color: #6D6B67;
	margin-left: 40px;
	margin-bottom: 94px;
}

.anologue-footer__text {
	color: #fff;
	margin-left: 40px;
}

.anologue-footer__list {
	display: flex;
	padding-bottom: 70px;
}

.anologue-footer__item {
	margin-right: 50px;
}

.anologue-footer__item1 {
	margin-right: 312px;
}

/* footer end*/
